<div class="box-body">
    <br>
    <div class="row">
        <div class="col-xs-6">
            <div class="input-group">

                <span class="input-group-addon">Alergy *</span>
                <input type="text" class="form-control" required ng-model="al.alergy"/>

            </div>
        </div>
    </div>
    <br>

    <br>
    <div class="row">
        <div class="col-xs-6">
            <div class="input-group">

                <span class="input-group-addon">Remarks</span>
                <textarea type="text" class="form-control" id="inputRemarks" name="Remarks" placeholder=""
                          ng-model="al.remarks">
                            </textarea>
            </div>
        </div>
    </div>
    <br>

</div>
<br>

<div>
    <br/>
</div>

<br>


<br> <br>
<div class="row">
    <div class="col-xs-6">
        <div class="input-group">
            <button type="submit" class="btn btn-primary" ng-click="AddAlergy(patient._id,al)">Save</button>
            &nbsp;
            <button type="submit" class="btn btn-primary" ng-click="EditAlergies(al._id,al)">Update</button>
            &nbsp;
            <button type="reset" class='btn'>Cancel</button>

        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-default pull-right" data-toggle="collapse" data-target="#collapseExample"
                aria-controls="collapseExample">+
        </button>
    </div>
</div>

<div class="row collapse" id="collapseExample" aria-expanded="false">
    <div class="col-md-12">
        <div >
            <table class="table">
                <thead>
                <tr>

                    <th>Alergy</th>
                    <th>Remarks</th>
                    <th></th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in patient.Alergies">
                    <td>{{x.alergy}}</td>
                    <td>{{x.remarks}}</td>


                    <td>   <button type="button" class="btn btn-warning" ng-click="UpadateAlergy(x._id)">Edit</button></td>
                    <td>   <button type="submit" class="btn btn-danger" ng-click="DeleteAlergy(x._id)">Delete</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>